#geschaefte {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
#geschaefte > .geschaeft {
  display: table-row;
  border: 1px solid black;
}
#geschaefte .geschaeft div {
  display: table-cell;
  vertical-align: top;
  padding: 0 1ex;
}
#geschaefte .geschaeft div textarea {
  height: 2em;
}
#geschaefte .geschaeft div textarea:hover,
#geschaefte .geschaeft div textarea:focus,
#geschaefte .geschaeft div textarea:active {
  height: 10em;
}
#geschaefte .geschaeft.erledigt {
  background-color: #eee;
}
